$main_font_size: 14px;
$main_font_color: #39434d;
$main_font_family: 'HelveticaNeue';
$main_font_familyBold: 'FuturaBold';
$bg_color: #ffffff;
$line_height: 1.5em;


@font-face {
  font-family:'FuturaBold';
  src: url('../fonts/FuturaBold.eot');
  src: url('../fonts/FuturaBold.ttf');
  src: url('../fonts/FuturaBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family:'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot');
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00BF;
}
