/************* All **************************/

//Blocks
section {
  padding: 80px 0;
}

//Title blocks
.title-block {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 30px;
  //font-family: $main_font_familyBold;
}

// Logo
.logo {
  display: inline-block;
  img {
    max-width: 100%;
    min-width: 100%;
  }
}

// Background white
.white-block {
  background: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,.1);
}

.right-float {
  float: right;
}

//Block 1/5
@media (min-width: 992px) {
  .five-block {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/********************* Form ******************/

// Form
.car__form {
  margin-top: 30px;
  padding: 0 40px;
  .form {
    font-size: 0;
    &__item {
      vertical-align: middle;
      position: relative;
      font-size: 16px;
      display: inline-block;
      width: 31%;
      margin-right: 3%;
      &:last-child {
        margin-right: 0;
      }
      &_label {
        position: absolute;
        transition: .2s;
        cursor: text;
        top: 20px;
        left: 30px;
        font-size: 16px;
        color: #97a4b1;
      }
      &_input {
        display: block;
        width: 100%;
        border: 1px solid #e6ecf2;
        border-radius: 3px;
        padding: 20px 30px 0;
        box-sizing: border-box;
        height: 60px;
        transition: .2s;
        box-shadow: none;
        &:focus {
          outline: none;
          box-shadow: 0 0 10px rgba(131,203,32,.2);
          border: 2px solid #9fd80b;
          & ~ .form__item_label {
            font-size: 12px;
            top:  8px;
          }
        }
      }

      .input-no-empty  {
        font-size: 12px;
        top:  8px;
      }

      &_btn {
        text-transform: uppercase;
        width: 100%;
        height: 60px;
        background: linear-gradient(to top, #c10029, #eb2653);
        font-size: 24px;
        color: #ffffff;
        border: none;
        border-radius: 3px;
        box-shadow: 0 10px 30px rgba(193,0,41,.4);
        transition: all .2s ease;
        &:hover {
          outline: none;
          background: linear-gradient(to top, #a60829, #ce133d);
          box-shadow: 0 10px 25px rgba(193,0,41,.3);
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

// Form validate
.car__form .form__item .has-error {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border: 1px solid #a94442;
}

/*********************** Modal ***************/

// Modal Popup
.modal {
  z-index: 100;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(255, 255, 255, 0.95);
  //background-color: rgb(0,0,0); /* Fallback color */
  //background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  //background-color: #fefefe;
  margin: 100px auto;
  padding: 20px;
  //box-shadow: 0 10px 30px rgba(0,0,0,.3);
  width: 35%;
  max-width: 500px;
  .modal__title {
    line-height: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  .modal__sup-title {
    font-size: 16px;
    text-align: center;
  }
  .modal__form {
    padding: 0 20px;
    .form__item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

// Modal Success
.modal-success {
  .close {
    display: none;
  }
  .modal-content {
    color: #0d870a;
    .modal__sup-title {
      font-size: 18px;
    }
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: -20px;
  right: -15px;
  color: #000000;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,

.close:focus {
  color: #a94442;
  text-decoration: none;
  cursor: pointer;
}

/************* Header **********************/

// Navigation
.nav {
  text-align: center;
  &__list {
    height: 54px;
    text-align: justify;
    padding: 0;
    margin: 0;
    font-size: 0;
    list-style: none;
    &:after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 0;
    }
  }

  &__item {
    display: inline-block;
    margin-top: 5px;
    &_link {
      position: relative;
      display: block;
      font-size: 18px;
      padding-bottom: 28px;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background: transparent;
        box-shadow: none;
        transition: box-shadow .5s ease ;
      }
      &:hover {
        &:after {
          box-shadow: 0 0 15px rgba(134,204,32,.7);
          background: linear-gradient(to top, #80c925, #acdd00);
        }
      }
    }
  }
}

// Call Order for Header
.call-order {
  height: 79px;
  position: relative;
  &__inner {
    z-index: 2;
    margin-left: 45px;
    content: "";
    position: absolute;
    bottom: -5px;
    transform: skew(-40deg);
    width: 10000px;
    height: 84px;
    background: linear-gradient(to top, #c10029, #eb2653);
    &:hover {
      background: linear-gradient(to top, #a60829, #ce133d);
    }
  }
  &__wrap {
    width: 225px;
    display: inline-block;
    transform: skew(40deg);
    padding: 20px 0 0 25px;
  }
  &__phone-icon {
    display: block;
    float: left;
    margin: 10px 10px 0 0;
  }
  &__text {
    color: #fff;
    display: block;
  }

  &__descr {
    text-align: right;
    opacity: .5;
  }

  &__phone-number {
    text-align: right;
    font-size: 18px;
  }
}

// Red triangle for Call Order Block
.red-triangle {
  z-index: 2;
  position: absolute;
  bottom: -5px;
  left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #6b2a38 transparent transparent;
}